{% extends "base.html" %}

{% block content %}
<h1 class="title">NoGo-kalenteri</h1>



<table class="table">
  {% for y in calendar  %}
    {% for m in calendar[y] %}
  <thead>
    <tr>
      <th>{{ y }}</th>
      <th>{{ m }}</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th>Maanantai</th>
      <th>Tiistai</th>
      <th>Keskiviikko</th>
      <th>Torstai</th>
      <th>Perjantai</th>
      <th>Lauantai</th>
      <th>Sunnuntai</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for d in range(1, calendar[y][m]['first_weekday'] ) %}
        <td></td>
      {% endfor %}

      {% for d in range(1,calendar[y][m]['last_day'] + 1) %}
        {% if calendar[y][m][d]['nogo'] == False %}
          <td class="has-text-centered"><button class="button is-light" id="{{ calendar[y][m][d]['button_id']  }}">
        {% else %}
          <td class="has-text-centered"><button class="button is-danger" id="{{ calendar[y][m][d]['button_id']  }}">
        {% endif %}
        {{ d }}</button></td>


        {% if calendar[y][m][d]['weekday'] == 0 %}
          </tr><tr>
        {% endif %}
      {% endfor %}  
    </tr>
  </tbody>
    {% endfor %}  
  {% endfor %}
</table>


{% endblock %}

